:root{
    --bgprimario:#FEF0E7;
    --bgsecundario:#F0CDAB;
    --cortexto:#072138;
    --bgbutton:#F5938B;
    --bgmenu:#EB445B;
    --titulo:96px;
    --paragrafos:40px;
    --subtitulos:32px;
    --font:"Katibeh", serif;
   }


  * {
    margin:0;
    padding:0;
    font-family:var(--font);
    font-weight:200;
  }